<%= form_for(:micropost, url: msgnew_path) do |f|%>
  <%#= render 'shared/error_messages',object: f.object %>
  <div class="field">
    <%= f.text_area :content,placeholder: "新留言..." %>
  </div>
  <%= f.submit "提交", class: "btn btn-large btn-primary" %>
<% end %>
