<div class="center hero-unit">
    <h2>
		   请登录！
		</h2>
     <%= link_to "新郎亲友团", boys_path,class:"btn btn-large but-primary"%>
     <%= link_to "新娘亲友团", girls_path,class:"btn btn-large but-primary"%>
</div>
