<%# if signed_in?%>
<% provide(:title,"婚礼@Beijing") %>
<h1>空白页</h1>
<h2>本页预留为8月31日现场照片、视频等，将在9月份整理上传，请关注！</h2>
<div class="imgself">
  <img alt="请关注" src="/assets/2.gif" />
</div>
<% else %>
  <%= render 'shared/signin_page' %>
<% #end %>
