<div class="center hero-unit">
		<h1>Welcome to our wedding@Beijing</h1>
    <h2>
		   2014.08.31 11:30 
		   <a href="http://www.dianping.com/shop/515636" >眉州东坡（中关村店）</a>
		</h2>
    <%= link_to "新郎亲友团", boys_path,class:"btn btn-large but-primary"%>
    <%= link_to "新娘亲友团", girls_path,class:"btn btn-large but-primary"%>
</div>
