@import "bootstrap";
$backcolor: #065279;
html {
  overflow-y: scroll;
 }
body {
  padding-top: 90px;
  background-color: $backcolor;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  background-color:$backcolor;
}
.center h1{
  color:#fff;
  margin-bottom:40px;
}
/*.container {
  color:#003472;
  background-color:#fff;
}*/
h1,h2,h3,h4,h5,h6 {
  line-height: 1;
  color:#fff;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color:#fff;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #fff;
}
h2 a{
  color:#808080;
}
h2 a:hover {
  color: #fff;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
  color:#fff;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height:1;
}
#logo:hover{
  color:#fff;
  text-decoration: none;
}
/*footer*/
footer {
  margin-top: 45px;
  padding-top: 5px;
  #border-top: 1px solid #eaeaea;
  color: #999;
}

footer a{
  color:#555;
}
footer a:hover {
  color: #222;
}
footer small{
  #float: left;
  float: right;
}
footer ul{
  float:right;
}
footer ul li{
  float:left;
  margin-left:10px;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */
input,textarea,select,.uneditable-input {
  border:1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
.sign {
  text-align: center;
}
.imgself {
  padding-top: 90px;
  text-align: center;
}
.invite {
  padding-top: 30px;
  text-align: center;
}
/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  color: #bacac6;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
  color: #fff;
}
.timestamp {
  color: #999;
}
.gravatar {
  float: left;
  margin-right:10px;
}
aside {
  textarea {
    height:100px;
    margin-bottom:5px;
  }
}
